<app-loading-overlay *ngIf="loading"></app-loading-overlay>
<div class="card mt-5 mb-5 ml-5 mr-5 shadow-lg" *ngIf="!loading">
  <div class="card-header">
    <h1 class="display-4" style="font-size: 40px">
      Bill No. {{ currBill.bill.num }} of year
      {{ currBill.bill.date | date: "yyyy" }}
    </h1>
  </div>
  <div class="card-body">
    <div>
      <h5>Party Name :</h5>
      <span style="white-space: pre-line; font-size: large">
        {{ currBill.party_name }}
      </span>
    </div>
    <br />
    <div class="row">
      <div class="row col-md-4">
        <div class="col-md-5">
          <h5>Bill No</h5>
          <p class="amtcss">{{ currBill.bill.num }}</p>
        </div>
        <div class="col-md-6">
          <h5>Bill Date</h5>
          <p class="amtcss">{{ currBill.bill.date | date: "dd/MM/yyyy" }}</p>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row col-md-4">
        <div class="col-md-5">
          <h5>DC No</h5>
          <p class="amtcss">{{ currBill.dc.num }}</p>
        </div>
        <div class="col-md-6">
          <h5>DC Date</h5>
          <p class="amtcss">{{ currBill.dc.date | date: "dd/MM/yyyy" }}</p>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row col-md-4">
        <div class="col-md-5">
          <h5>PO No</h5>
          <p class="amtcss">{{ currBill.po.num }}</p>
        </div>
        <div class="col-md-6">
          <h5>PO Date</h5>
          <p class="amtcss">{{ currBill.po.date | date: "dd/MM/yyyy" }}</p>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <hr />
    <div *ngIf="currBill.cancelled">
      <h6>This Bill was Cancelled</h6>
      <p>
        <span class="h6">Reason for Cancellation: </span>
        {{ currBill.cancel_reason }}
      </p>
      <hr />
    </div>
    <div style="overflow-x: auto">
      <table class="table table-striped table-responsive-lg">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Qty</th>
            <th scope="col">Rate</th>
            <th scope="col">Amt</th>
          </tr>
        </thead>
        <tbody class="border-left border-right">
          <tr *ngFor="let item of currBill.items; let i = index">
            <th scope="row" style="width: 10%">{{ i + 1 }}</th>
            <td class="tdcss desc" style="width: 40%">
              {{ item.description }}
            </td>
            <td style="width: 20%">{{ item.qty }} {{ item.unit }}</td>
            <td style="width: 20%">
              {{ item.rate }} / {{ item.per_unit }} {{ item.unit }}
            </td>
            <td>{{ item.amt }}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="h4 border">Total Amount</td>
            <td class="border">{{ currBill.tot_amt }}</td>
          </tr>
          <tr *ngIf="discountGiven">
            <td></td>
            <td></td>
            <td></td>
            <td class="h4 border">Discount Amount</td>
            <td class="border">- {{ currBill.disc_amt }}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="h4 border">Round Off</td>
            <td class="border">
              <span *ngIf="currBill.roundoff > 0">+</span>
              {{ currBill.roundoff }}
            </td>
          </tr>
          <tr class="border-bottom">
            <td></td>
            <td></td>
            <td></td>
            <td class="h4 border bg-info">Grand Total</td>
            <td class="h5 border bg-info">{{ currBill.grand_total }}</td>
          </tr>
        </tbody>
      </table>

      <div
        class="container mt-4 mb-5"
        *ngIf="!cancelMenu && !currBill.cancelled"
      >
        <div
          class="btn-group-vertical"
          style="width: 100%"
          role="group"
          aria-label="ButtonOps"
        >
          <div class="btn-group row">
            <button
              type="button"
              class="btn btn-primary btn-lg col-md-6"
              (click)="printBill()"
            >
              <i class="fa fa-print"></i>
              Print Bill
            </button>
            <button
              type="button"
              class="btn btn-success btn-lg col-md-6"
              (click)="printDC()"
            >
              <i class="fa fa-print"></i>
              Print DC
            </button>
          </div>
          <div class="btn-group row">
            <button
              type="button"
              class="btn btn-dark btn-lg col-md-4"
              (click)="editBill()"
            >
              <i class="fa fa-pencil"></i>
              Edit Bill
            </button>
            <button
              type="button"
              class="btn btn-outline-danger btn-lg col-md-4"
              (click)="toggleCancelMenu()"
            >
              <i class="fa fa-times"></i>
              Cancel Bill
            </button>
            <button
              type="button"
              class="btn btn-warning btn-lg col-md-4"
              (click)="forkBill()"
            >
              <i class="fa fa-code-fork"></i>
              Fork Bill
            </button>
          </div>
        </div>
      </div>

      <div class="container mt-4 mb-5" *ngIf="cancelMenu">
        <div [formGroup]="cancelForm" class="form-group">
          <label for="cancel_reason">Reason for Cancelling Bill</label>
          <textarea
            name="cancel_reason"
            id="cancel_reason"
            formControlName="cancel_reason"
            class="form-control"
          ></textarea>
        </div>
        <div class="btn-group" style="width: 100%">
          <button
            type="button"
            class="btn btn-outline-danger btn-lg"
            style="width: 50%"
            (click)="cancelBill()"
          >
            <i class="fa fa-print"></i>
            Confirm Operation
          </button>
          <button
            type="button"
            class="btn btn-dark btn-lg"
            style="width: 50%"
            (click)="toggleCancelMenu()"
          >
            <i class="fa fa-times"></i>
            Cancel Operation
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
