<div class="divbg">
  <div class="container" style="min-height: 100vh;padding-top: 5%;">
    <div class="row py-5 align-items-center">
      <div class="col-md-5 pr-lg-5 mb-5 mb-md-0" style="text-align: center;">
        <img src="/assets/imgs/invoices.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
        <br>
        <h1>Get All Your Billing Needs Covered</h1>
      </div>
      <div class="col-md-7 col-lg-6 ml-auto">
        <h1>Billing System</h1>
        <p style="font-size: larger;">
          Create, See and Cancel Bills as per your need.<br>
          Anytime, Anywhere...
        </p>
        <button type="button" class="btn btn-success btn-lg" [routerLink]="['/register']">Register Now</button>
        <p style="font-size: larger;" class="py-2">
          Already a user?  &nbsp;Login
          <a [routerLink]="['/login']">here</a>
        </p>
      </div>
  </div>
</div>
