<div style="background-color: #ecf3f3;min-height: 90vh;">
  <div class="container">
    <div class="row py-5 align-items-center">
      <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
        <img src="/assets/imgs/access_acc.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
        <h1>Login To Your Account</h1>
      </div>
      <div class="col-md-7 col-lg-6 ml-auto">
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-envelope text-muted"></i>
              </span>
            </div>
            <input id="email" type="email" name="email" formControlName="email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md" [ngClass]="{'is-invalid':(loginForm.email.dirty || loginForm.email.touched) && loginForm.email.invalid}" required>
            <span class="invalid-feedback" *ngIf="loginForm.email.invalid && (loginForm.email.dirty || loginForm.email.touched)">
              <p *ngIf="loginForm.email.errors.required">Email ID is required.</p>
              <p *ngIf="!loginForm.email.errors.required && loginForm.email.invalid">Invalid Email ID.</p>
            </span>
          </div>
          
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-lock text-muted"></i>
              </span>
            </div>
            <input id="password" type="password" name="password" formControlName="password" placeholder="Password" class="form-control bg-white border-left-0 border-md" [ngClass]="{'is-invalid':loginForm.password.invalid && (loginForm.password.dirty || loginForm.password.touched)}" required>
            <span class="invalid-feedback" *ngIf="loginForm.password.invalid && (loginForm.password.dirty || loginForm.password.touched)">
              <p *ngIf="loginForm.password.errors.required">Password is required</p>
            </span>
          </div>
          <div class="form-group col-lg-12 mx-auto mb-0">
            <button type="submit" class="btn btn-primary btn-block py-2" [disabled]="disableBtn">
            <span class="font-weight-bold">Login</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('input').on('focus', function () {
      $(this).parent().find('.input-group-text').css('border-color', '#80bdff');
    });
    $('input').on('blur', function () {
      $(this).parent().find('.input-group-text').css('border-color', '#ced4da');
    });
  });
</script>