.sepline {
    border-right: 1px solid black;
    height: 420px;
}
.left-content {
    position: relative;
    top: 20%;
    text-align: center;
}
.right-content {
    border:none;
}
.navbar-tabs {
    padding-bottom: 0;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
    border: 1px solid #C2C7D0;
}
.row {
    padding-top: 10px;
}
.container.field-item {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: larger;
    color:#494949;
}
.icon {
    color:#c0392b;
    font-size: larger;
}
.field-value {
    position: relative;
    font-size: large;
}
.col-1 {
    padding-right: 1px;
}
.col-11 {
    padding-left: 1px;
}
.heading {
    font-weight: 500;
    font-size: large;
}
