<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css?family=Fredoka+One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Righteous"
  rel="stylesheet"
/>
<link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet" />

<app-navbar></app-navbar>
<router-outlet></router-outlet>

<footer class="py-4 bg-dark text-white-50" id="sticky-footer">
  <div class="container text-center">
    Developed by Yash Brahmkshatriya
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/yash-brahmkshatriya-9b47a51b1/"
      >Contact Me</a
    >
  </div>
</footer>
