<flash-messages></flash-messages>
<div class="w-100">
<div class="card mt-5 mb-5 w-50" style="margin-left: 25%;">
  <div class="card-header">
    <h4 class="display-4">Change Password</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="updatePwdForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="heading">Old Password</label>
        <input type="password" formControlName="password" class="form-control input-field" placeholder="Password" [ngClass]="{'is-invalid':pwd.invalid && (pwd.dirty || pwd.touched)}" required>
        <span class="invalid-feedback" *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)">
          <p *ngIf="pwd.errors?.required">Old Password is required</p>
        </span>
      </div>
      
      <div class="form-group">
        <label class="heading">New Password</label>
        <input type="password" formControlName="newpassword" class="form-control input-field" placeholder="Password" [ngClass]="{'is-invalid':newpwd.invalid && (newpwd.dirty || newpwd.touched)}" required>
        <span class="invalid-feedback" *ngIf="newpwd.invalid && (newpwd.dirty || newpwd.touched)">
          <p *ngIf="newpwd.errors?.required">New Password is required</p>
          <p *ngIf="newpwd.errors?.minlength || newpwd.errors?.maxlength">New Password must be of 8 to 255 characters long.</p>
        </span>
      </div>

      <div class="form-group">
        <label class="heading">Confirm New Password</label>
        <input type="password" formControlName="newpwdrepeat" class="form-control input-field" placeholder="Password" [ngClass]="{'is-invalid':newpwdrepeat.invalid && (newpwdrepeat.dirty || newpwdrepeat.touched)}" required>
        <span class="invalid-feedback" *ngIf="newpwdrepeat.invalid && (newpwdrepeat.dirty || newpwdrepeat.touched)">
          <p *ngIf="newpwdrepeat.errors?.required">Confirm Password is required</p>
        </span>
      </div>

      <div class="container mt-1 mb-1" *ngIf="(newpwdrepeat.dirty || newpwdrepeat.touched) && (newpwd.dirty || newpwd.touched)">
        <p class="text-danger" *ngIf="!pwdsMatch">
          Both Passwords must match
        </p>
      </div>
      <div class="btn-group w-100">
        <button type="submit" class="btn btn-outline-danger w-50" [disabled]="disableBtn">Update Password</button>
        <button type="button" class="btn btn-dark w-50" (click)="toProfile()">Cancel</button>
      </div>
    </form>
  </div>
</div>
</div>
