<app-loading-overlay
  *ngIf="loadingBill || loadingProfile"
></app-loading-overlay>
<div
  style="background-color: white; padding: 5px"
  *ngIf="!loadingBill && !loadingProfile"
>
  <div class="container mt-4 ml-4 mb-5">
    <table class="table table-bordered" style="margin-left: 5%">
      <thead style="text-align: center">
        <tr>
          <th
            colspan="4"
            class="display-4 companyname"
            style="line-height: 80px"
          >
            {{ userDet.company_name }}
          </th>
        </tr>
        <tr>
          <td colspan="3" class="addphn" style="width: 75%">
            {{ userDet.addressString }}
          </td>
          <td colspan="1" class="addphn" style="font-weight: bold">
            M : {{ userDet.phn_no }}
          </td>
        </tr>
        <tr>
          <th colspan="4" class="billheading">DELIVERY CHALLAN</th>
        </tr>
        <tr style="font-family: Helvetica">
          <td colspan="2" style="text-align: left">
            <div style="font-size: large; white-space: pre-line">
              <span class="h5"><b>M/s : </b></span>{{ currBill.party_name }}
            </div>
          </td>
          <td
            colspan="2"
            style="
              text-align: left;
              line-height: 50px;
              font-size: large;
              width: 25%;
            "
          >
            <table class="table datestable">
              <tr>
                <td>D.C. No. : {{ currBill.dc.num }}</td>
                <td>Date : {{ currBill.dc.date | date: "dd/MM/yyyy" }}</td>
              </tr>
              <tr>
                <td>Bill No. &nbsp;&nbsp;: {{ currBill.bill.num }}</td>
                <td>Date : {{ currBill.bill.date | date: "dd/MM/yyyy" }}</td>
              </tr>
              <tr>
                <td>P.O. No. : {{ currBill.po.num }}</td>
                <td>Date : {{ currBill.po.date | date: "dd/MM/yyyy" }}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="bodyheading">
          <th colspan="1" scope="col" style="width: 2%; line-height: 50px">
            Sr.No.
          </th>
          <th colspan="2" scope="col" class="bodyheadingdesc">Description</th>
          <th colspan="1" scope="col" class="bodyheadingqty">Qty</th>
        </tr>
      </thead>
      <tbody class="bodycontent">
        <tr *ngFor="let item of currBill.items; let i = index">
          <td colspan="1" style="vertical-align: middle; text-align: center">
            {{ i + 1 }}
          </td>
          <td
            colspan="2"
            style="
              padding: 7px 7px;
              vertical-align: middle;
              white-space: pre-line;
            "
          >
            {{ item.description }}
          </td>
          <td colspan="1" style="text-align: center; vertical-align: middle">
            {{ item.qty }}<br />{{ item.unit }}
          </td>
        </tr>
        <tr [ngClass]="spaceClass">
          <td colspan="1"></td>
          <td colspan="2"></td>
          <td colspan="1"></td>
        </tr>
        <tr>
          <td colspan="2" style="width: 70%; font-size: small">
            <span class="h6"> <b>Terms & Conditions :</b> </span><br />
            (1) All Transaction are subjects to
            {{ userDet.address.city }} court. <br />(2) Goods Once sold will not
            be taken back or replace. <br />(3) Risk and responsibility ceases
            on delivery goods.<br />(4) Interest 24% p.a. will be charged on
            over due payments. <br />(5) E. & O.E.
          </td>
          <td colspan="2" style="text-align: center; line-height: 40px">
            <i class="h6">For, </i>
            <span style="font-family: Peralta">{{ userDet.company_name }} </span
            ><br /><br />
            <i class="h6">Authorised Signatory</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br /><br /><br /><br />
